{% extends 'main/header.html' %}


{% load materializecss %}


{% block content %}

{% load static %} <!-- This method of serving images is for dev only! -->
    
    <!--
    {{ generic_fields }}
    <br>
    {{ specific_fields }}
    <br>
    -->

    <h3 style="color: green; text-align: center;">{{ title }}</h3>
    <br>
     
    
    <form method="post">{% csrf_token %}
        {{ formset.management_form }}
            
        <table>
        
            <thead>
                <tr>
                    {% for name in specific_fields|slice:"1:-1" %}
                        <th>{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
        
            <tbody>
                {% for form in formset %}
                    <tr>
                        {% for field in form %}
                            {% if field.name in generic_fields %}
                                <td>{{ field }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
        
        <br>
        <br>
        
        <button class="btn waves-effect waves-light" type="submit" name="action">Save
            <i class="material-icons right">save</i>
        </button>
    
    </form>
    
    
    <br>
    <br>
    
{% endblock %}

